<mjml>
  <mj-head>
    <mj-font
      name='Open Sans'
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'
    ></mj-font>
    <mj-attributes>
      <mj-all
        font-family='Open Sans, Roboto, sans-serif, Arial'
        font-size='16px'
        line-height='24px'
        letter-spacing='0.4px'
      ></mj-all>
      <mj-text color='#1A1A1A'></mj-text>
      <mj-divider border-color='#E2E2E2' border-width='1px'></mj-divider>
      <mj-button background-color='#DA3A00' border-radius='8px'></mj-button>
      <mj-title>{{story.title}}</mj-title>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section padding='0px 25px'>
      <mj-column>
        <mj-text padding='10px 0px' align='right'><a
            href='{{storyUrl}}'
            style='color: #737373; font-size: 13px;'
          >Read online</a></mj-text>
        <mj-text padding='10px 0px' align='center' line-height='30px'><h1
            style='margin-bottom: 0px;'
          >{{story.title}}</h1></mj-text>
        <mj-social
          padding='0px 0px'
          icon-size='24px'
          inner-padding='8px'
          font-size='13px'
          color='#1A1A1A'
          mode='horizontal'
        >
          <mj-social-element src='{{avatarUrl}}' href='{{profileUrl}}'>
            By
            {{displayName}}
            ·
            {{date}}
          </mj-social-element>
        </mj-social>
        {{#if story.coverImage}}
          <mj-image
            padding='30px 0px 0px 0px'
            border-radius='8px'
            src='{{story.coverImage}}'
          ></mj-image>
        {{/if}}

      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        {{{content}}}
      </mj-column>
    </mj-section>
    <mj-section padding='0px 25px'>
      <mj-column
        background-color='#F6F6F6'
        border-radius='12px'
        padding='20px 0px'
      >
        <mj-image
          border-radius='8px'
          width='44px'
          padding='0px'
          src='{{avatarUrl}}'
        ></mj-image>
        <mj-text align='center' font-size='18px'>
          {{displayName}}
        </mj-text>
        <mj-text align='center' padding='0px 0px'>
          {{#if settings.siteUrl}}
            <a href='{{settings.siteUrl}}'><img
                src='https://app.sigle.io/img/emails/globe.png'
                width='15'
                height='15'
              /></a>
          {{else}}
            <span style='margin-right: -12px'></span>
          {{/if}}
          {{#if settings.siteTwitterHandle}}
            <span style='margin-right: 12px'></span>
            <a href='https://twitter.com/{{settings.siteTwitterHandle}}'><img
                src='https://app.sigle.io/img/emails/twitter.png'
                width='15'
                height='15'
              /></a>
          {{/if}}
        </mj-text>
        <mj-text align='center' color='#737373' font-size='13px'><a
            href='[[UNSUB_LINK_EN]]'
            style='color: #737373; font-weight: 600'
          >Unsubscribe</a>
          from
          {{displayName}}’s Newsletter.</mj-text>
        <mj-text align='center'><a href='https://app.sigle.io'><img
              src='https://app.sigle.io/img/emails/cta.png'
              width='143'
              height='28'
            /></a></mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-divider></mj-divider>
        <mj-text color='#737373'>If you were forwarded this newsletter and you
          like it, you can subscribe
          <a
            href='{{profileUrl}}'
            style='color: #737373; font-weight: 600'
          >here</a>.
        </mj-text>
        <mj-divider></mj-divider>
        <mj-text align='center' color='#737373'>© Sigle 2023</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>