<mjml>
  <mj-head>
    <mj-font
      name='Open Sans'
      href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap'
    ></mj-font>
    <mj-attributes>
      <mj-all
        font-family='Open Sans, Roboto, sans-serif, Arial'
        font-size='15px'
        line-height='20px'
      ></mj-all>
      <mj-divider border-color='#E2E2E2' border-width='1px'></mj-divider>
      <mj-button background-color='#DA3A00' border-radius="8px"></mj-button>
    </mj-attributes>
  </mj-head>
  <mj-body>
    <mj-section>
      <mj-column>
        {{{content}}}
      </mj-column>
    </mj-section>
    <mj-section padding='0px 25px'>
      <mj-column
        background-color='#F6F6F6'
        border-radius='12px'
        padding='20px 0px'
      >
        <mj-text align='center'>
          {{#if settings.siteUrl}}
            <a href='{{settings.siteUrl}}'><img
                src='https://app.sigle.io/img/emails/globe.png'
                width='15'
                height='15'
                style='margin-right: 12px'
              /></a>
          {{/if}}
          {{#if settings.siteTwitterHandle}}
            <a href='https://twitter.com/{{settings.siteTwitterHandle}}'><img
                src='https://app.sigle.io/img/emails/twitter.png'
                width='15'
                height='15'
              /></a>
          {{/if}}
        </mj-text>
        <mj-text align='center' color='#737373'><a
            href='[[UNSUB_LINK_EN]]'
            style='color: #737373; font-weight: 600'
          >Unsubscribe</a>
          from
          {{displayName}}’s Newsletter.</mj-text>
        <mj-text align='center'><a href='https://app.sigle.io'><img
              src='https://app.sigle.io/img/emails/cta.png'
              width='143'
              height='28'
            /></a></mj-text>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-divider></mj-divider>
        <mj-text color='#737373'>If you were forwarded this newsletter and you
          like it, you can subscribe
          <a
            href='https://app.sigle.io/{{username}}'
            style='color: #737373; font-weight: 600'
          >here</a>.
        </mj-text>
        <mj-divider></mj-divider>
        <mj-text align='center' color='#737373'>© Sigle 2023</mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>